<p id="notice"><%= notice %></p>

<h1>Github Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Digital asset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @github_profiles.each do |github_profile| %>
      <tr>
        <td><%= github_profile.org_name %></td>
        <td><%= github_profile.digital_asset %></td>
        <td><%= link_to 'Show', github_profile %></td>
        <td><%= link_to 'Edit', edit_github_profile_path(github_profile) %></td>
        <td><%= link_to 'Destroy', github_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Github Profile', new_github_profile_path %>
