<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @github_profile.org_name %>
</p>

<p>
  <strong>Digital asset:</strong>
  <%= @github_profile.digital_asset %>
</p>

<%= link_to 'Edit', edit_github_profile_path(@github_profile) %> |
<%= link_to 'Back', github_profiles_path %>
