<p id="notice"><%= notice %></p>

<h1>Digital Assets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @digital_assets.each do |digital_asset| %>
      <tr>
        <td><%= digital_asset.name %></td>
        <td><%= digital_asset.ticker %></td>
        <td><%= link_to 'Show', digital_asset %></td>
        <td><%= link_to 'Edit', edit_digital_asset_path(digital_asset) %></td>
        <td><%= link_to 'Destroy', digital_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Digital Asset', new_digital_asset_path %>
